@font-face {
    font-family: NEW TETRIS;
    src: url(../Ag_project_Tetris/NEW.ttf);
}
@font-face {
    font-family: TETRIS;
    src: url(../Ag_project_Tetris/Tetris2.ttf);
}

html,body{
    color: white;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    background-image: url('fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -3;
    height: 100%;
}
#myCanvas{
    border:solid 3px blue;
    background-color: black;
    padding: 0;
    /* width: 300px;
    height: 600px; */
    position: absolute;
    right: 700px;
    top: 20px;
}
#my2Canvas{
    border:solid 3px blue;
    background-color: black;
    padding: 0;
    /* width: 300px;
    height: 600px; */
    position: absolute;
    right: 240px;
    top: 20px;
}
#my3Canvas{
    border:solid 3px blue;
    background-color: black;
    width: 250px;
    height: 180px;
    position: absolute;
    right: 1120px;
    top: 180px;
}
#logo {
    width: 130px;
    height: auto;
    position: absolute;
    right: 15px;
    top: 15px;
}
#score1 {
    color: white;
    position: absolute;
    right: 1250px;
    top: 220px;
    font-size: 20px;
    font-family: NEW TETRIS;
}
#score2 {
    color: white;
    position: absolute;
    right: 1250px;
    top: 280px;
    font-size: 20px;
    font-family: NEW TETRIS;
}
#btnBack {
    position: absolute;
    border-color: blue;
    background-color: black;
    color: white;
    right: 1180px;
    top: 420px;
    font-family: TETRIS;
    font-size: 40px;
}

#btnPlay{
    position: absolute;
    border-color: blue;
    background-color: black;
    color: white;
    left: 680px;
    top: 370px;
    font-family: TETRIS;
    font-size: 30px;
    display: none;
}
#gameOverTxt{
    position: absolute;
    display: none;
    font-family: NEW TETRIS;
    color: red;
    font-size: 50px;
    left: 620px;
    top: 300px;
}
#txtScore1{
    position: absolute;
    font-family: TETRIS;
    color: white;
    font-size: 30px;
    left: 215px;
    top: 205px;
}
#txtScore2{
    position: absolute;
    font-family: TETRIS;
    color: white;
    font-size: 30px;
    left: 215px;
    top: 270px;
}