
@font-face {
    font-family: NEW TETRIS;
    src: url(../Ag_project_Tetris/NEW.ttf);
}

html,body{
    color: white;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
    background-image: url('./Imagens/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -3;
    height: 900px;
}
#myCanvas{
    border:solid 3px blue;
    background-color: black;
    padding: 0;
    width: 400px;
    height: 600px;
    position: absolute;
    right: 700px;
    top: 20px;
}
#my2Canvas{
    border:solid 3px blue;
    background-color: black;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 350px;
    top: 250px;
}
#logo {
    width: 250px;
    height: auto;
    position: absolute;
    right: 375px;
    top: 20px;
}
#level {
    color: white;
    position: absolute;
    right: 500px;
    top: 300px;
    font-size: 30px;
    font-family: NEW TETRIS;
}
#score {
    color: white;
    position: absolute;
    right: 500px;
    top: 380px;
    font-size: 30px;
    font-family: NEW TETRIS;
}
#btn1 {
    position: absolute;
    border-color: blue;
    background-color: black;
    color: white;
    right: 520px;
    top: 480px;
    font-family: NEW TETRIS;
    font-size: 20px;
}
#btn2 {
    position: absolute;
    border-color: blue;
    background-color: black;
    color: white;
    right: 370px;
    top: 480px;
    font-family: NEW TETRIS;
    font-size: 20px;
}

